<div class="row row-cols-md-3 g-4 m-5">
    <div class="col"  *ngFor="let cancion of newSongs" >
      <div class="card ">
        <img [src]="cancion.images[0].url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cancion.name}}</h5>
          <p class="card-text">
            <span  class="badge rounded-pill text-bg-primary" *ngFor="let artist of cancion.artists">{{artist.name}}</span>
          </p>
        </div>
      </div>
    </div>
</div>