<div class="row row-cols-md-3 g-4 m-5 animated fadeIn">
    <div (click)="showArtist(item)" class="col" *ngFor="let item of items">
        <div class="card  puntero">
            <img [src]="item.images | noimage " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <span class="badge rounded-pill text-bg-primary"
                        *ngFor="let artist of item.artists">{{artist.name}}</span>
                </p>
            </div>
        </div>
    </div>
</div>